.buton{
    background: linear-gradient(90deg, #0329f4,#03a9f4);
    font-family: sans-serif;
    border-radius: 30px;
    color: rgb(247, 236, 236);
    padding: 15px 32px;
    font-size: 2rem;
    size: 30%;
    width: 20%;
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 10px;
    background-position: 400%;   
}
.buton:hover{
  
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.mainh{
  font-family: 'Sofia';
  text-shadow: 0px bisque;
  font-size: 100px;
  color: rgb(6, 60, 107);
  margin-left: 25%;
  margin-right: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.b1{
   background-image: url(images/img1.jpg);
   background-size: cover;
   background-attachment: fixed;
}


/* css property for 2nd page */
.b2{
  background-image: url(images/img2.jpg);
  background-size: cover;
  background-attachment: fixed;

}

.content2{
  color: white;
  font-size: 2rem;
}
#but{
  background: linear-gradient(90deg, #d81bb9,#03a9f4);
  font-family: sans-serif;
  border-radius: 30px;
  color: rgb(247, 236, 236);
  padding: 15px 32px;
  font-size: 1rem;
  size: 20%;
  width: 20%;
  margin-left: 40%;
  margin-right: 10px;
  background-position: 400%;   
}
#but:hover{
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

#heading{
  color: rgb(243, 62, 17);
  background-color: cornsilk;
  width: fit-content;
  border-radius: 30px;
  margin-right: auto;
}
#heading:hover{
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.para1:hover{
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.para1{
  width: fit-content;
  margin-right: auto;
}

/* css property for last  page  */
body {
  text-align: center;
  background: linear-gradient(90deg,rgba(0, 0, 0, 0.911), #22c1c3,#fdbb2d);

}

footer {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  5%;
  color: #FEF2BF;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: vlock;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 8px solid black;
  border-radius: 20%;
}

.gameover {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
